xml-resources/web-service-references/WSPayPal/wsdl/localhost_63033/WSPayPal.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Pagar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tp" type="tns:PagarRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PagarRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PagarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PagarResult" type="tns:PagarPayPalResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PagarPayPalResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:PayPalResponse" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PayPalResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="operationError" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:LoginRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginPayPalResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginPayPalResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:PayPalResponse" />
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PagarSoapIn">
    <wsdl:part name="parameters" element="tns:Pagar" />
  </wsdl:message>
  <wsdl:message name="PagarSoapOut">
    <wsdl:part name="parameters" element="tns:PagarResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="WSPayPalSoap">
    <wsdl:operation name="Pagar">
      <wsdl:input message="tns:PagarSoapIn" />
      <wsdl:output message="tns:PagarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSPayPalSoap" type="tns:WSPayPalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Pagar">
      <soap:operation soapAction="http://tempuri.org/Pagar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPayPalSoap12" type="tns:WSPayPalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Pagar">
      <soap12:operation soapAction="http://tempuri.org/Pagar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSPayPal">
    <wsdl:port name="WSPayPalSoap" binding="tns:WSPayPalSoap">
      <soap:address location="http://localhost:63033/WSPayPal.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPayPalSoap12" binding="tns:WSPayPalSoap12">
      <soap12:address location="http://localhost:63033/WSPayPal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>